.form {
    width: 400px;
    border: 1px solid #cbcbcb;
    margin: 0 auto;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 4px gray;
}

.form__group {
    position: relative;
    width: 350px;
    margin: 30px auto;
    display: flex;
    justify-content: right;
}


.form__label {
    color: #9e9e9e;
    vertical-align: middle;
    margin-top: 5px;
}

.form__title {
    text-align: center;
    font-weight: normal;
    color: #6d6d6d;
}

.form__input {
    position: absolute;
    right: 0;
    padding-left: 10px;
    height: 30px;
    width: 200px;
    background-color: #eeeeee;
    outline: none;
    border: 1px solid #e9e9e9;
}

.form__input:focus {
    background-color: #ccc;
    transition: 0.5s;
}


.valid {
    border: 1px solid rgba(0, 128, 0, 0.58);
    background-color: #d8ded8;
    color: #1d5e1d;
    box-shadow: 0 0 4px 0 green;
    transition-duration: 0.5s;
}

.invalid {
    border: 1px solid rgba(255, 0, 0, 0.38);
    background-color: rgba(229, 178, 178, 0.88);
    box-shadow: 0 0 4px 0 #973434;
    color: indianred;
    transition-duration: 1s;
}

.button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.form__button {
    background-color: #0071f0;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 30px;
}

.form__button:hover {
    background-color: #0098f0;
    transition: 1s;
}

/*Модальное окно*/
@keyframes vis {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes hidd {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes visInfo {
    0% {
        left: -100px;
        opacity: 0.4;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    animation: vis 0.4s;
}

.modal__info {
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-color: white;
    animation: visInfo 0.5s;
}

.modal__info_close {
    display: inline-block;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    margin: 5px 10px;
    right: 0;
    top: 0;
}
